<section>
    <div class="intro-title">Events</div>
    <table class="tableSection">
      <thead>
        <tr>
          <th><span class="text">Name</span>
    
          </th>
          <th><span class="text">Number</span>
    
          </th>
          <th><span class="text">Email</span>
    
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vera Taylor</td>
          <td>555-555-5555</td>
          <td>reddit-is-life@tamu.edu</td>
        </tr>
        <tr>
          <td>Katie Caldwell</td>
          <td>555-555-5555</td>
          <td>frogs@tamu.edu</td>
        </tr>
        <tr>
          <td>Pauline Norman</td>
          <td>555-555-5555</td>
          <td>tamu-loves25x25@tamu.edu</td>
        </tr>
        <tr>
          <td>Ruby Morgan</td>
          <td>555-555-5555</td>
          <td>hewhomshallnotbenamed@tamu.edu</td>
        </tr>
        <tr>
          <td>Joyce Heinrich</td>
          <td>555-555-5555</td>
          <td>darklordsauron@tamu.edu</td>
        </tr>
        <tr>
          <td>Pearl Vernon</td>
          <td>555-555-5555</td>
          <td>he-who-sleeps@tamu.edu</td>
        </tr>
        <tr>
          <td>Amanda Dexter</td>
          <td>555-555-5555</td>
          <td>praise-cthulhu@tamu.edu</td>
        </tr>
        <tr>
          <td>Betty Reese</td>
          <td>555-555-5555</td>
          <td>keklord@tamu.edu</td>
        </tr>
        <tr>
          <td>Evelyn Tufts</td>
          <td>555-555-5555</td>
          <td>stuff@tamu.edu</td>
        </tr>
        <tr>
          <td>Cora Sterling</td>
          <td>555-555-5555</td>
          <td>ilove-aws@tamu.edu</td>
        </tr>
        <tr>
          <td>Eleanor Parker</td>
          <td>555-555-5555</td>
          <td>narsil@tamu.edu</td>
        </tr>
        <tr>
          <td>Louise Lane</td>
          <td>555-555-5555</td>
          <td>notsuperman@tamu.edu</td>
        </tr>
        <tr>
          <td>Louise Zimmer</td>
          <td>555-555-5555</td>
          <td>cloud9or-so@tamu.edu</td>
        </tr>
        <tr>
          <td>Winifred Durwood</td>
          <td>555-555-5555</td>
          <td>0outof100@tamu.edu</td>
        </tr>
        <tr>
          <td>Donna Rice</td>
          <td>555-555-5555</td>
          <td>ea-lovesmoney@tamu.edu</td>
        </tr>
      </tbody>
    </table>


</section>