<section>
    <div class="intro-title">Events</div>
    <table class="tableSection">
      <thead>
        <tr>
          <th><span class="text">Where</span>
    
          </th>
          <th><span class="text">When</span>
    
          </th>
          <th><span class="text">Sign Up!</span>
    
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;Kick off Party!</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 1</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;First official meeting</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 2</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;General Meeting</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 2</pre>
          </td>
        </tr>
         <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;General Meeting</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 1</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;General Meeting</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 5</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;Midterm Potluck and De-Stress</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 3</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;General Meeting</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 3</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;General Meeting</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 2</pre>
          </td>
        </tr>
        <tr>
          <td>Wolf Pen Creek Park
            <pre><font size="3">&emsp;&emsp;General Meeting</font></pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 3</pre>
          </td>
        </tr>
      </tbody>
    </table>


</section>