<section>
    <div class="intro-title">Events</div>
    <table class="tableSection">
      <thead>
        <tr>
          <th><span class="text">Where</span>
    
          </th>
          <th><span class="text">When</span>
    
          </th>
          <th><span class="text">Sign Up!</span>
    
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Some Fucking Park, Bitch
            <pre>some fucking description goes here</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
        <tr>
          <td>Some Fucking Park, Bitch
            <pre>some fucking description goes here</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
        <tr>
          <td>Some Fucking Park, Bitch
            <pre>some fucking description goes here</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
         <tr>
          <td>Some Fucking Park, Bitch
            <pre>some fucking description goes here</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
        <tr>
          <td>Some Fucking Park, Bitch
            <pre>some fucking description goes here</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
        <tr>
          <td>Some Fucking Park, Bitch
            <pre>some fucking description goes here</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
        <tr>
          <td>Some Fucking Park, Bitch
            <pre>this table scrolls</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
        <tr>
          <td>Some Fucking Park, Bitch
            <pre>some fucking description goes here</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
        <tr>
          <td>Some Fucking Park, Bitch
            <pre>etc</pre>
          </td>
          <td>17:00<pre>Thursday</pre></td>
          <td><a href="https://tinyurl.com/j8jxawj">Sign Up!</a>
            <pre>Stars: 420</pre>
          </td>
        </tr>
      </tbody>
    </table>


</section>