    
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="intro image not found">
          <div class="intro-text left-0 text-
          center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Welcome to Her Campus, User!</span>
              <!-- span class="section-heading-lower">Worth Drinking</span> -->
            </h2>
            <p class="mb-3"> Here, you can track events and attendance!
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Events?</span>
                <span class="section-heading-lower">here</span>
              </h2>
              <p class="mb-0">Events, Events, Events!</p>
            </div>
          </div>
        </div>
      </div>
    </section>