<section>
  <div class="intro-text-home"> 
    <p>Welcome to Her Stars! 
                          This is where you can find upcoming events, find
                          other members, and track your attendance.</p>
  </div>
  <div class="widget">
    <p class="widget-sign-up-text">Sign Up!</p>
    <p class="widget-sign-up-events">events</p>
    
    <tbody>
          <% @events.first(3).each do |event|%>
          <tr>
            <%# This is where each function from the user in the db will go %>
            <td>
              <%= event.name %>
              <pre><%= event.day%></pre>
              <td>
               <%= event.time %>
              </td>
              <pre><%= event.stars%> stars</pre>
              <pre><a href="https://tinyurl.com/j8jxawj">Sign Up!</a></pre>
            </td>
             <p class="devider">-------------------</p>
            <td>
              
            </td>
          </tr>
          <% end %>
      </tbody>
    
  </div>
</section>

