<section>
    <div class="intro-title">Hello, User!</div>
    <div class="intro-subtitle">Total Stars: 9001</div>
    <table class="tableSection">
      <thead>
        <tr>
          <th><span class="text">What</span>
    
          </th>
          <th><span class="text">Date</span>
    
          </th>
          <th><span class="text">Stars Obtained</span>
    
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Some Fucking Park, Bitch</td>
          <td>7/7/2018</td>
          <td>Stars: 420</pre>
          </td>
        </tr>
      </tbody>
    </table>


</section>