body {
    background-color: #ffa8d0;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "The Girl Next Door", sans-serif;
    
}
html { 
  overflow-y: scroll;
}

pre {
  font-family: "The Girl Next Door", sans-serif;
  font-size: 30px;
}

  h2 {
  font-family: "The Girl Next Door", sans-serif;
  color: white;
  font-size: 30px;
}

.header a {
  text-decoration: none;
}

.upper-header {
    font-family: "The Girl Next Door", sans-serif;
    font-size: 100px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

.sub-header {
    font-family: "The Girl Next Door", sans-serif;
    font-size: 25px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
    font-style: italic;
    padding-bottom: 80px;
}

.topnav {
  overflow: hidden;
  background-color: #f95ea6;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
  font-size: 25px;
  font-family: "The Girl Next Door", sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.intro-title {
  font-family: "The Girl Next Door", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  font-style: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  padding-top: 30px;
  padding-bottom: 50px;
}
.intro-subtitle {
  font-family: "The Girl Next Door", sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  padding-bottom: 50px;
}

.intro-text-home {
  position: relative;
  width: 35em;
  left: 5em;
  color: white;
  font-family: "The Girl Next Door", sans-serif;
  font-size: 25px;
  display:inline-block;
}

.widget {
  overflow: hidden;
  background-color: #f95ea6;
  width: 300px;
  border: 10px solid white;
  padding: 10px;
  margin: 15px;
  float: right;
  display: inline-block;
}

.widget-sign-up-text {
  font-family: "The Girl Next Door", sans-serif;
  color: white;
  font-size: 30px;
}

.widget-sign-up-events {
  font-family: "The Girl Next Door", sans-serif;
  color: white;
  font-size: 25px;
}

.copywrite {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffa8d0;
  text-align: center;
}

table.tableSection {
  display: table;
  width: 100%;
}

table.tableSection thead,
table.tableSection tbody {
  width: 100%;
}

table.tableSection thead {
  overflow-y: scroll;
  display: table;
  table-layout: fixed;
  width: calc(100%); /* assuming scrollbar width as 16px */
  background-color: #f95ea6;
  color: white;
  font-family: "The Girl Next Door", sans-serif;
}

table.tableSection tbody {
  overflow: auto;
  height: 350px;
  display: block;
}

table.tableSection tr {
  width: 100%;
  text-align: left;
  display: table;
  table-layout: fixed;
  padding-left: 40px;
  font-family: "The Girl Next Door", sans-serif;
}

#login, #signup {
  text-align: center;
}

.dropdown {
  display: none;
}

@media (max-width: 450px) {
  body {
    max-width: 100%;
    min-height: 400px;
    clear: both;
    overflow-x: hidden;
  }
  
  .dropdown {
    display: inline;
  }
  
  .w3-dropdown-click {
    display: inline;
  }
  
  .w3-dropdown-content {
    min-width: 400px;
  }
  
  .w3-bar-item {
    width: 5%;
    padding-top: 5%;
    margin-left: 40%
  }
  
  .w3-button:hover {
    background-color: transparent!important;
  }
  
  .header {
    
    max-width: 45%;;
    margin: 0;
    font-size: .5em;
    margin-left: 3%;
    display: inline-block;
  }
  
  .upper-header {
    font-size: 3.5em;
    margin-left: 5%;
  }
  
  .sub-header {
    font-size: 1.5em;
    margin-top: -5%;
    margin-left: 0;
    padding-bottom: 5%;
  }
  
  .hamburgerIcon {
    max-width: 25%;
    display: inline-block;
    float: right;
  }
  
  #mainNav {
    display: none;
  }
  
  section {
    max-width: 100%;
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .intro-text-home {
    width: 90%;
    left: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.25em;
    text-align: center;
  }
  
  .widget {
    width: 80%;
    float: none;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  
  footer {
    bottom: 0;
    height: 2em;
    left: 0;
    font-size: small;
    width:100%;
    text-align: center;
    color: white;
  }
  
  .intro-title {
    width:100%;
  }
  
  thead {
    width: 100%;
  }
  
  tbody tr {
    border-bottom: 2px solid #333;
  }
  
  tbody tr td {
    max-width: 10%;
  }
}