<!DOCTYPE html>
<html>
  <head>
    <title>HCSaasApp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'styles', 'data-turbolinks-track': 'reload', :media => 'all' %>
  </head>

  <body>
    <h1>
      <div class="upper-header">Her Stars</div>
      <div class="sub-header">A Her Campus Extension</div>
    </h1>
    
    <!-- Navigation -->
    <nav id="mainNav">
      <div class="topnav">
        <a href="/startup/index">Home</a>
        <a href="/startup/contacts">Contacts</a>
        <a href="/startup/events">Events</a>
        <a href="/startup/profile">Profile</a>
      </div>
    </nav>
<%=yield%>
    <footer>
      <div class="copywrite">
        <p>Copyright &copy; Her Stars 2018</p>
      </div>
    </footer>
  </body>
</html>
